
body {
    background: url('../images/crystal-background1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
	font-family: 'Dark Crystal Script';
	src: url(../fonts/dark-crystal-script.ttf);
}

.container {
	max-width: 960px;
    margin: 0 auto;
    opacity: 0.7;
}

.jumbotron-text {
    font-family: 'Dark Crystal Script', arial;
    color: #A4127B;    
    font-size: 5em;
    text-shadow: 4px 4px 4px #aaa;
}
 
#musicControls .music-button {
    background-color: #7EA36E;
    font-weight: bolder;
}

#musicControls .pause-button {
    background-color: #DAA06C;
    font-weight: bolder;
}


.Wins {
    text-align: center;
    font-family: 'Dark Crystal Script', arial;
    color: #DAA06C;
    }

.win-text {
    color: #385991;
    font-size: 5em;
}

.Losses{
    text-align: center;
    font-family: 'Dark Crystal Script', arial;
    color: #DAA06C;    
}

.loss-text {
    color: #385991;
    font-size: 5em;
}

.instruct-head {
    font-family: 'Dark Crystal Script', arial;
    color: #DAA06C;
    
}

.crystal-image {
    width: 80px;
    height: 90px;
    border: solid 3px blue;
    border-radius: 10px;
    }

.crystals img:hover {
    cursor: pointer;
    border: solid 3px white;
}

.row.Row2 {
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 12px;
}

.Score {
    font-family: 'Dark Crystal Script', arial;
    color: #7EA36E;
    text-align: center;    
}

.RandomNumber {
    font-family: 'Dark Crystal Script', arial;
    color: #7EA36E;
    text-align: center;
   }

   .random-num-text {
    font-family: 'Dark Crystal Script', arial;
    text-align: center;
   }

#num-to-guess {
    color: #385991;
    }

#userScore {
    color: #385991;
    text-align: center;
}

.userscore-text{
    font-family: 'Dark Crystal Script', arial;
    text-align: center;
    color: #385991;
}

@media screen and (max-width: 799px)  {

    .jumbotron-text {
      margin-left: 55px;
      font-size: 3em;
    }


  
   }
      
@media screen and (max-width: 640px) {
    
    .jumbotron-text {
        margin-left: 55px;
        font-size: 2em;
      }

      .crystal-image {
        width: 75px;
        height: 85px;
        }
  }
